.closet-header-btns{
	position: fixed;
	width: 100%;
	top: 118px;
	left: 0%;
	background-color:#f7ebda;
	z-index: 999;
}

.mt-6 {
	margin-top: 4rem !important;
}

.btn-closet {
	background-color: #8C92AC;
	color: white;
	margin-bottom: 1px;
}

#dropdown-closet:active {
	background-color: #8C92AC;
}

.closet-modal {
	max-width: 600px;
}

.closet-modal-item-name {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

#closet-header-dropdown {width: 100%;}
.closet-header-btns .show .dropdown-menu {transform:translate3d(0,40px,0) !important;}