.header {
	position: fixed;
	width: 100%;
	top: 0px;
	padding: 1rem;
	background-color: #f7ebda;
	color: #1c3580;
	text-align: center;
	font-family: "Prata", serif;
	z-index: 999;
}

.header > h1 {
	letter-spacing: 15px;
	font-size: 45px;
}

.header > h3 {
	font-size: 14px;
	letter-spacing: 5px;
}

.header-margin {
	height: 8.5rem;
}

.btn-closet {
	background-color: #8C92AC;
	color: white;
	margin-bottom: 1px;
}

#dropdown-closet:active {
	background-color: #8C92AC;
}