#root {
	height: 100vh;
}

.card {
	height: 100% !important; /* .h-100 aka makes cards in one row the same height */
}

#closet-header-dropdown {
	width: 100%;
	margin: 0;
	background-color: #7b82a2;
	border-color: #7b82a2;
	border-top-color: white;
}

.closet-header,
.closet-header > * {
	background-color: #7b82a2;
	color: #fff;
	text-align: center;
}

.closet-modal {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.slide-routes {
	padding-top: env(safe-area-inset-top);
}
